<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Pacu 1.2.3, Copyright 2008-2010, Frank Mertens</string>
	<key>CFBundleIdentifier</key>
	<string>com.cyblogic.pacu</string>
	<key>CFBundleSignature</key>
	<string>ttxt</string>
	<key>CFBundleVersion</key>
	<string>1.2.3</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5.0</string>
	<key>CFBundleIconFile</key>
	<string>pacu.icns</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>haxe</string>
			<key>CFBundleTypeName</key>
			<string>haXe File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>as3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>as</string>
			<key>CFBundleTypeName</key>
			<string>AS3 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>feature</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cucumber</string>
			<key>CFBundleTypeName</key>
			<string>Cucumber Feature</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sh</string>
				<!-- <string>Makefile</string> -->
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sh</string>
			<key>CFBundleTypeName</key>
			<string>Shell Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<!-- <string>CMakeLists.txt</string> -->
				<string>cmake</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cmake</string>
			<key>CFBundleTypeName</key>
			<string>CMake Lists File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>py</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>python</string>
			<key>CFBundleTypeName</key>
			<string>Python Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rb</string>
				<string>erb</string>
				<string>prawn</string>
				<string>builder</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ruby</string>
			<key>CFBundleTypeName</key>
			<string>Ruby Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>Rakefile</string>
				<string>rake</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rake</string>
			<key>CFBundleTypeName</key>
			<string>Ruby Make File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rdoc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>rdoc</string>
			<key>CFBundleTypeName</key>
			<string>Ruby Doc File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gem</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gem</string>
			<key>CFBundleTypeName</key>
			<string>Ruby Gem File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>html</string>
				<string>xml</string>
				<string>xhtml</string>
				<string>hxml</string>
				<string>js</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Web File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cpp</string>
				<string>cxx</string>
				<string>c++</string>
				<string>cc</string>
				<string>mm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>cxx</string>
			<key>CFBundleTypeName</key>
			<string>C++ Source File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hpp</string>
				<string>hxx</string>
				<string>h++</string>
				<string>hh</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hxx</string>
			<key>CFBundleTypeName</key>
			<string>C++ Source Header File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pacu.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
